/* Micro reset */
*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	color: black;
	font-size: 16px;
	font-family: Helvetica, Sans-Serif;
}

body {
  overflow-x: hidden;
}

li {
	list-style-type: none;
}

a {
	color: black;
	text-decoration: none;
	outline: none;
}

a:visited {
	color: black;
}

a.dot {
	border-bottom: 1px dotted black;
}

h1 {
	font-size: 24px;
  text-align: center;
}

h1, p {
  margin: 0 auto 1em;
}

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 0;
  list-style: none;
  font-size: 16px;
  color: #e6e6e6;
  background: black;
}

.navigation a {
  color: #e6e6e6;
	text-decoration: none;
	outline: none;
}

.navigation a:visited {
	color: #e6e6e6;
}

.navigation a.dot {
	border-bottom: 1px dotted #e6e6e6;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 40px;
}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 2;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-image: url(../img/menu.svg);
  background-size: contain;
}

.nav-trigger + label, .wrapper {
  transition: left 0.4s;
}

.nav-trigger:checked + label {
  left: 150px;
}

.nav-trigger:checked ~ .wrapper {
  left: 140px;
}

.title {
	height: 100%;
	width: 320px;
	margin: 0 auto;
	position: relative;
}

.title-emblem {
	float: left;
}

.title-navigation {
	padding-left: 180px;
	padding-top: 80px;
	color: black;
	text-align: left;
	line-height: 1.2;
}

.title-navigation h1 {
  text-align: left;
}

.buffer {
	height: 8px;
	clear: both;
}

.footer {
	height: 24px;
	width: 100%;
	bottom: 0;
	left: 0;
	font-size: 12px;
	text-align: center;
	/* background: white; */
	position: absolute;
}


/* cascade-gallery */

#gallery-wrapper {
  min-height: 100%;
  min-width: 100%;
  /* background-color: white; */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  /* padding: 50px; */
}

#gallery-wrapper img {
  position: static;
  width:auto;
  max-width: 100%;
  height: auto;
}

#gallery-wrapper h1 {
	font-size: 20px;
  text-align: center;
}

#gallery-wrapper #thumbnails-wrapper,
#images-wrapper #description-wrapper {
  max-width: 800px;
  margin: 0 auto 0.5em;
  position: relative;
  text-align: center;
  /* background-color: gray; */
}

#images-wrapper {
  text-align: center;
  margin: 0 auto;
}

#images-wrapper img {
  margin-bottom: 0.5em;
}

#images-wrapper #description-wrapper #title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  /* background-color: gray; */
}

#images-wrapper #description-wrapper #close-button {
  width: 20px;
  height: 20px;
  margin-left: 0.5em;
  float: right;
  text-align: right;
  cursor: pointer;
  background-image: url(../img/close.svg);
  background-size: contain;
}

#images-wrapper #description-wrapper #description {
  position: static;
  margin: 0.5em 0;
  width: 100%;
  font-size: 16px;
  font-style: italic;
  text-align: justify;
  /* background-color: #e6e6e6; */
}
